/*camera selection screen customizations */
.darktheme .card {
	background-color:#0d0d0d!important
        ;
}

.container-inner {
	background-color: #0d0d0d!important
        ;
}

.previewWebcam {
	width: 240px;
	height: 240px;
    object-fit: cover;
	opacity: 1;
	animation: fadeIn 0.2s;
	border-radius: 1000px!important;
	border-width: 2px!important;
	border-color: grey!important;
	border-style: solid;
}

#gowebcam:enabled {
	background: #6633ff!important;
	color: rgb(255, 255, 255)!important;
	font-weight: bold !important;
	animation: pulsate 2s ease-out infinite;
	border-radius: 10px;
	}

#gowebcam {
	font-size: 110%;
	background-color: gainsboro!important;
	color: black!important;
	cursor: pointer;
	margin: 20px;
	padding: 10px 50px;
	border-radius: 10px;
}

#videoMenu {
	padding: 8px 8px 8px 10px;
    width:450px;
	vertical-align: middle;
	text-align: left;
	margin-top: 0px;
	border-radius: 10px;
}

#videoSourceSelect{
    width: 300px!important;
    padding: 4 4 4 40px!important;
}
#audioMenu {
    width:450px;
	margin: 15px 0 0 0;
	border-radius: 10px;
}
.multiselect-contents{
    width:420px!important;
}
#headphonesDiv {
	width: 450px;
	padding: 4 4 4 11px;
	border-radius: 10px;
    
}

.startupWarning {
    display: none!important;
}


/*	main control bar custimisations	*/
#subControlButtons {
	display:inline-flex!important;
	position: fixed!important;
	background-color: rgb(0 0 0 / 50%)!important;
	pointer-events: auto!important;
	border: #6060608a 1px solid!important;
	border-radius: 10px!important;
	align-items: center!important;
	justify-content: center!important;
	align-items: center!important;
	top: calc(100% - 145px)!important;
	left:calc(100% - 102px)!important;
	height:100px!important;
	width:100px!important;
	min-width:30px!important;
	min-height:30px!important;
	cursor: default!important;
	scale: 100%!important;
	padding: 0px!important;
	margin: 0px!important;
	transform: translate(0px,0px)!important;
	box-shadow: 0px 0px 10px #000000;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);

}
#subControlButtons div {
	width: 45px!important;
	height: 45px!important;
	margin: 2px!important;
	padding: 0px!important;
	border-radius: 40px!important;
	border: #525252 1px solid!important;
	box-shadow: 0!important;
	opacity: 0.5;

}

#subControlButtons div:hover {
	background-color: #4f4f4f;
	border: #b7b7b7 1px solid!important;
	color: white!important;
	opacity: 1;
	scale: 110%;

}
#flipcamerabutton {
	display:none!important;
}
.toggleSize {
    font-size: 28px!important;
	padding:0 0 0 0px;
    color: gainsboro;
}
.toggleSize:hover{
	    color: #ffffff!important;
}
.raisedHand {
    background-color: #3100c3 !important;
}	

.las.la-comment-alt:before{
        content: "\f381";
}
.las.la-comment-dots:before {
        content: "\f381";
}
.la-comments:before {
    content: "\f381";
    color:#fff;
    background-color: #20f!important;
    border-radius:30px;
    padding:10px!important;
    border: #b7b7b7 1px solid!important;
}
.notification {
    display: inline-block!important;
    color: #fff;
    background-color: #fff!important;
    
}

#chatbutton:hover {
    border-color:#000000!important;
background-color:#121314!important;
opacity: 1!important;
scale: 100%!important;
    padding:10px!important;
}

#chatNotification {
    display:none!important;
    background-color: #fff!important;
}

#popOutChat{
    display: none;
}

#chatModule{
    position:fixed;
    top:0px;
    left:5px;
    height:20px;
    
}
	
#chatBody{
    position:relative;
    top:0px;
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	background:#dddddd57!important;
	padding: 0px;
	border-radius: 10px;
	overflow-y: auto;
	overflow-wrap: anywhere;
}
#chatInput { 
    display:none;
}
.chatBarInputButton {
    display:none;
}
.inMessage {
	background-color: #dcdcdca3 !important;
	color: #000;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}
[data-button-type="clear"] {
  display:none;
}
[data-button-type="download"] {
	font-weight: bold; 
    padding:5 10 5 10px;
    margin: 5 5 0 100px;
}
[data-translate="upload-chat"] {
	display:none;
}

button:hover {
	background-color: blue!important;
}
/*	hide fullscreen ions	*/
.fullwindowButton {
	transition: opacity 0.3s;
	width: 0vh;
	height: 0vh;
	max-width: 0px;
	max-height: 0px;
	min-width: 0px;
	min-height: 0px;
	position: absolute;
	font-display: none;
	z-index: 6;
	right: 4vh;
	top: 4vh;
	color: white;
	cursor: pointer;
}
.fullwindowButtonimg {
	user-select: none;
	background-color:#0007;
	width:4vh;
}

/*	hide right click context menu	*/
.context-menu--active {
    display: none !important;
}

/*	customize user preview and display including signal and mute icons	*/
.holder {
	position: relative!important;
	width: 80px!important;
	height: 80px!important;
	object-fit: cover;
	overflow: visible;
	display: inline-block;
	align-items: center;
	justify-content: center;
	margin: 0;
	border-radius: 50px!important;
	border-width: 2px!important;
	border-color: grey!important;
	border-style: solid;
	top:4px!important;
	left:9px!important;

}
.container_holder_video {	
	display:block!important;
	position:relative!important;
	width:100px!important;
	left:calc(100% - 102px)!important;
	height:110px!important;
	margin-top:2px!important;
	top: -2px!important;
	transition: opacity 20ms!important;
	opacity:0.6;
	border-radius:10px!important;
	border-width: 1px!important;
	border-color: #80808000!important;
	border-style: solid;

}
.container_holder_video:hover {
	background-color: #ffffff0f!important;
	border-radius:10px!important;
	opacity:1;
	border-width: 1px!important;
	border-color: #80808054!important;
	border-style: solid;
	}
video {
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	pointer-events: auto;
	background-color: transparent;
	/* border: 10px; */
	padding:0px;
	margin: 0px;
	height: 0px;
	user-select:none;
	overflow:hidden!important;
	border-radius:100px!important;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-webkit-tap-highlight-color:transparent;
	outline-style:none;
	border-style:solid!important;
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: center;
}
.video-label{
	display:block!important;
	position: absolute!important;
	left:-12!important;
	font: 14px Arial!important; 
	font-weight: 100!important; 
	width:100!important;
	text-align: center!important;
	top:82px!important;
	background:#00000000!important;
	padding-top:0px!important;
	opacity:1;
}
/*
video[data-speaking="0"] {
	transition: opacity .25s ease-in-out, background-size 0.5s ease;
}
video[data-speaking="1"] {
	background-image: var(--video-background-image-talking, var(--video-background-image));
	background-size: var(--video-background-image-size-talking, var(--video-background-image-size));
	transition: background-size 0.5s ease;
}
video[data-speaking="2"] {
	background-image: var(--video-background-image-screaming, var(--video-background-image));
	background-size: var(--video-background-image-size-screaming, var(--video-background-image-size));
	transition: background-size 0.5s ease;
}
*/
.video-mute-state {
scale:1.3;
    top: 2;
    right: 2;
    position: absolute;
    color: #e0e0e0;
    border-radius: 20px;
	border:1px;
	border-style:solid;
    background-color: #840000;
    padding: 2px 2px 2px 2px;
    z-index: 2;
	box-shadow: 0px 0px 10px rgb(0 0 0);
}
.video-meter-2{
	padding:0;
	display:block;
	width:100%;
	height:100%;
	min-width:10px;
	min-height:10px;
	top: 0;
	right: 0;
	background-color:unset;
	background-image: radial-gradient(#ffffff00 0%, #ffffff 100%);
	position:absolute;
	border-radius: 50px;
	pointer-events:none;
	border: 1px #757575 solid;
	z-Index: 2;
	transition-property: opacity;
	transition-duration: 0.5s;

}
.signal-meter{
	width: 26px;
	height: 26px;
	position: absolute;
	left: 0px;
	padding:2px;
	top: 62px;
	border-radius: 50px;
	pointer-events:none;
	border: 1px #00555e solid;
	background-color: #000000;
	font-size: 20px;
	color:#3d3d3d!important;
	overflow:hidden;
	z-index: 5;
	cursor: help;
}

/*	customize setting menu flyout	*/
#advancedOptionsGeneral {
	display:none!important;
}
#popupSelector_user_settings {
	display:none!important;
}
#canvas {
		border-radius:0px!important;	
}
#popupSelector {
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(10px);
	background:#dcdcdc9c!important;
	z-index:996!important;
	/* width: 450px!important; */
	padding:0 10 0 20px;
	box-shadow: 0px 0px 20px #00000082;
}
.toggleSettings {
	margin-left: 0px;
	margin-top: 0px;
	Width: 200px;
	height: 40px;
	background-color: gainsboro!important;
	border: 0px;
	color: #000000!important;
	text-align: center;
	text-decoration: none;
	border-radius:10px;
	font: 14px Arial;
	font-weight: regular!
}
.toggleSettings:hover {
	background-color: #6633ff!important;
	color: white!important;
}
i.las.la-chevron-right {
	display:none!important;
}
.title { 
	margin:0 0 10 0;
}
#videoMenu3 {
	border-radius:10px!important;
	background-color:gainsboro!important;
	border:0px!important;
	color: #000000!important;
}
#videoSource3 {
	width:415px;
	background-color:white;
}
#audioSource3 {
	background-color:white!important;
}
#outputSource3 {
	background-color:white!important;
	width:100%;
}
#headphonesDiv3 {
	border-radius:10px!important;
	background-color:gainsboro!important;
	border:0px!important;
	color: #000000!important;
}
#audioMenu2 {
	border-radius:10px!important;
	background-color:gainsboro!important;
	border:0px!important;
	color: #000000!important;
}
.testtonebutton {
	FONT-WEIGHT: 400;
    position: relative;
    padding: 2px 10px 2px 10px !important;
    margin: 10 12 0 10px!important;
    border-radius: 5px!important;
    top: -1px!important;
	color:black!important;
	background-color:gainsboro!important;
}
.testtonebutton:hover{
	background-color: #6633ff!important;
	color: white!important;
}

/*	portrait layout	*/
@media (orientation:portrait) {
	.container_holder_video {
		position:relative!important;
		display:inline-flex!important;
		width:100px!important;
		height:100px!important;
		left:0px!important;
		top:calc(100% - 148px)!important;
		height:102px!important;
		transition: 0ms!important;
	}
	.holder {
		top:9px!important;
	}
	.video-label{
		opacity:0;
	}
}